@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');

:root {
  --background: #f8f8f8;
  --secondary-text: #616161;
  --primary: #ec0868;
  --primary-neutral: #d64fa9;
  --secondary: #997e9a;
  --text: #0e0f14;
  --light-text: #b8bac1;
  --white-text: #f8f8f8;
}

html {
  font-size: 52%;
}

body {
  background-color: var(--background);
  font-family: 'Mukta', sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
}

#header {
  margin: 20px 30px;
}

#header .container {
  display: flex;
  /* align-items: center; */
}

#header .logo {
  font-weight: 500;
  font-size: 4rem;
  color: var(--primary);
}

#header .container .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

#header .nav ul {
  display: flex;
  margin: 0 20px;
  z-index: 300;
  animation: showMenu 1s both;
}

.nav.active {
  display: initial;
}

.nav ul li {
  margin: 0 15px;
}

.nav a {
  font-size: 2rem;
  /* text-align: center; */
  color: var(--secondary-text);
  transition: 280ms ease-in-out;
}

.nav a:hover {
  color: var(--text);
}

.nav a.active {
  color: var(--text);
}

#header .login {
  z-index: 300;
}

#header .login.active {
  display: flex !important;
  animation: showMenu 1s both;
}

.hamburguer-menu {
  position: absolute;
  right: 0;
  top: -9px;
}

.hamburguer-menu.active {
  display: block;
  background: var(--background);
  width: 250px;
  height: 350px;
  border-bottom-left-radius: 15px;
  animation: showMenu 1s both;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.icon-container {
  display: none;
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  padding: 20px;
  right: 30px;
  top: 10px;
}

.hamburguer-icon {
  background-color: var(--text);
  position: absolute;
  width: 25px;
  height: 3px;
}

.hamburguer-icon,
.hamburguer-icon::before {
  transition: 480ms ease-in-out;
}

.hamburguer-icon::before,
.hamburguer-icon::after {
  background-color: var(--text);
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  top: -7px;
}

.hamburguer-icon::after {
  top: 7px;
}

.hamburguer-icon.active {
  transform: rotate(45deg);
}

.hamburguer-icon.active::before {
  transform: rotate(90deg);
  top: 0;
}

.hamburguer-icon.active::after {
  content: none;
}

@keyframes showMenu {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}

#hero {
  display: flex;
  margin: 80px 30px;
  justify-content: space-between;
}

.hero-text {
  align-self: center;
}

#hero .hero-text h2 {
  font-size: 6.5rem;
}

#hero .hero-text p {
  line-height: 1.5;
  max-width: 500px;
  margin: 30px 0;
}

#hero .hero-text a {
  margin-right: 20px;
}

#hero .image {
  max-width: 50%;
}

#hero .image img {
  border-radius: 7px;
  width: 100%;
}

#category {
  margin: 160px 30px 0 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.categories .category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  transition: 280ms ease-in-out;
  margin: 20px 30px;
}

.categories .category-card:hover {
  transform: scale(1.04);
}

.categories .icon {
  padding: 50px;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.category-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.category-text p {
  line-height: 1.5;
  margin-top: 5px;
}

#jobs {
  margin: 80px 30px;
}

.open-jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 30px;
}

.job-image {
  border-radius: 15px;
}

.title-job {
  margin: 10px 0;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text);
}

.text-job {
  max-width: 300px;
}

#footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 150px;
}

.logo .title {
  color: var(--primary);
}

.information {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
}

.info ul li {
  margin: 10px 80px;
}

.info li a {
  color: var(--text);
}

.info li a:hover {
  opacity: 0.9;
}

.info-title,
.newsletter-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.newsletter-input {
  font-size: 1.2rem;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  transition: 280ms ease-in-out;
  outline: none;
}

.newsletter-input:focus {
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.rights {
  margin-bottom: 40px;
}

/* utils */
.btn {
  text-align: center;
  text-decoration: none;
  font-size: 1.7rem;
  padding: 5px 30px;
  border: none;
  border-radius: 15px;
  color: var(--white-text);
  background-color: #0e0f14;
  outline: none;
}

.btn.btn-lg {
  padding: 7px 45px;
}

.btn.btn-primary {
  color: var(--white-text);
  background-color: var(--primary);
  transition: 280ms ease-in-out;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  color: var(--white-text);
  opacity: 0.8;
}

.btn.btn-outline {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.btn.btn-secondary {
  background-color: transparent;
  color: var(--secondary-text);
  transition: 280ms ease-in-out;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:active {
  color: var(--text);
}

.title {
  font-weight: 700;
  font-size: 3.25rem;
  color: var(--text);
  line-height: 1.2;
}

.text {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text);
  line-height: 1.2;
}

@media (max-width: 1280px) {
  .information .info {
    flex-wrap: nowrap;
    margin: 20px 0;
  }
}

@media (max-width: 1074px) {
  html {
    font-size: 50%;
  }

  .nav {
    display: none;
  }
  #header .login {
    display: none !important;
  }
  .nav ul {
    position: absolute;
    font-size: 2.5rem;
    right: 80px;
    flex-direction: column;
    align-items: center;
  }

  .nav ul li {
    margin: 1rem 0;
  }

  #header .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 49px;
    top: 240px;
    font-size: 2.2rem;
  }

  .login a {
    margin: 5px 0;
  }

  .icon-container {
    display: initial;
  }

  .hamburguer-menu.active {
    display: initial;
  }

  #hero {
    flex-direction: column;
  }
  .hero-text {
    align-self: initial;
    margin-bottom: 60px;
  }
  #hero .image {
    max-width: 65%;
  }

  #category {
    margin: 0 30px;
  }
  .categories .category-card {
    justify-self: center;
    margin: 30px 0;
  }
  .open-jobs .card {
    margin: 30px;
  }

  .information {
    flex-direction: column;
  }
  .information .info {
    flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  #hero {
    flex-wrap: wrap;
  }
}

@media (max-width: 540px) {
  .hamburguer-menu {
    display: block;
    z-index: 200;
  }
  #hero .hero-text h2 {
    font-size: 6.3rem;
  }
  #hero .image {
    max-width: 100%;
  }

  .categories .category-card {
    margin: 20px 30px;
  }

  .information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 60px;
    text-align: center;
  }

  .info {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .info ul li {
    margin: 10px 80px;
  }
}
